[submodule "packages/boltz"]
	path = packages/boltz
	url = https://github.com/SatoshiPortal/boltz-dart.git
[submodule "packages/lwk"]
	path = packages/lwk
	url = https://github.com/SatoshiPortal/lwk-dart.git
[submodule "packages/bbqr"]
	path = packages/bbqr
	url = https://github.com/SatoshiPortal/bbqr-dart.git
[submodule "packages/ark-wallet"]
	path = packages/ark-wallet
	url = https://github.com/SatoshiPortal/ark-wallet-dart.git
[submodule "packages/bitbox"]
	path = packages/bitbox
	url = https://github.com/SatoshiPortal/bitbox-dart.git
